@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Comfortaa:wght@400;700&family=Lato:wght@300;400&family=Lora&display=swap');.main{
    width: 85%;
	background-color:rgb(255, 255, 255,0.5);
	height:650px;
	box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.5);
	height:fit-content;

}

#title{
	padding-top: 10px;
	font-family: 'Lato';
}
.descriptiontext{
	font-family: 'Lato';
	height: 20px;
	text-align: center;
	margin-left: 8rem;
	margin-right: 8rem;
}
.productscontainer{
    width: 85%;
	margin-left: auto;
	margin-right: auto;

    position: relative;
    /* background: white; */
}
.product {
	padding-top: 2%;
    background-color:rgb(255, 255, 255,0.8);
	
	border-radius:4px;
    height:fit-content;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
     
}
.prodtitle{
    text-align: center;
	color: white;
	-webkit-text-stroke-color: #347286;
	-webkit-text-stroke-width: 0.1px;
	font-size:20px;
	
	font-size: 29px;
    font-family: 'Bebas Neue', cursive;
}

.prodimg{
    align-items: flex-end;
    width: 50%;
    
    height: fit-content;
    display:inline;
}
.prodimg img{
    height: 600px;
}
.proddesc{
    float:  left;
    top: 50%;
    width: 55%;
    height: fit-content;
    display: inline;
    
}



.proddesc p{
    width: 85%;
	margin-left: auto;
	margin-right: auto;
	height:fit-content;
}
#prod3title{
	-webkit-text-stroke-color: #e0546e;
    font-family: 'Bebas Neue', cursive;
}

.endproduct{
    width: 10%;
    height: fit-content;
    display: inline;
}
.productdivider{
    height: 30px;
    background-image:linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255,.8));
	width: 100%;
}

.bottompadding{
    height: 0;
}
.proddesc a{
    display: block;
    width: max-content;
	margin-left: auto;
	margin-right: auto;
}
.proddesc p {
	font-family: 'Lora', serif;
}
.registerbtn {
	box-shadow:inset 0px 9px 0px -24px #459ab6;
	background-color:#4291AB;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:20px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #39778b;
}
.registerbtn:hover {
	background-color:#3886a0c9;
}
.registerbtn:active {
	position:relative;
	top:1px;
}
#price{
	font-family:helvetica-neue-bold,Helvetica Neue,Helvetica,Arial,sans-serif
}
#quantity{
	font-family:helvetica-neue-bold,Helvetica Neue,Helvetica,Arial,sans-serif
}
.price{
	margin-left:10px;
}
.quantity{
	margin-left:10px;
}
#prod3regbtn{
	background-color: #E3899D;
}